<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burgerland!</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <h1>Welcome to Burgerland!</h1>
      <section>
        <h2>Which burger would you like to order?</h2>
        <p>Here the user can choose which burger to order </p>
      </section>
      
      <table>
        <thead>
          <tr>
            <th>The mighty burger</th>
            <th>The original burger</th>
            <th>The chickenator</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <img src="https://s.yimg.com/ny/api/res/1.2/juOdnB3oVmo_.H22UBEf0A--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/8b8533099e0ab53dee69547cc17e8be4" alt="Burger" title="The Mighty Burger" width="500" height="300">
            </td>
            <td>
              <img src="http://demo.enpek.com/html-templates/foodmood/assets/images/product/themetidy-paira-framework-food-mood-responsive-html-template-product-4.png" alt="Burger" title="The Original Burger" width="300" height="180">
            </td>
            <td>
              <img src="http://demo.enpek.com/html-templates/foodmood/assets/images/product/themetidy-paira-framework-food-mood-responsive-html-template-product-2.png" alt="Burger" title="The Chickenator" width="400" height="250">
            </td>
          </tr>

        </tbody>
        <tfoot>
<td>
  <dl>
    <dt>The mighty burger</dt>
    <ul>
      <li>Vegan beef</li>
      <li>Lettuce, tomato, pickles and red onion</li>
      <li>Our own fantastic vegan burger sauce</li>
      <li>Includes lactose and gluten</li>
    </ul>
    
  </dl>
</td>
<td>
  <dl>
    <dt>The original burger</dt>
    <ul>
      <li>Original beef</li>
      <li>Double Lettuce, tomato, and double cheese</li>
      <li>Our own fantastic burger sauce</li>
      <li>Lactose free</li>
    </ul>
    
  </dl>
</td>

<td>
  <dl>
    <dt>The chickenator</dt>
    <ul>
      <li>Fried Chicken Fillet</li>
      <li>Lettuce and mayo</li>
      <li>Our own fantastic  burger sauce</li>
      <li>Lactose and Gluten free</li>
    </ul>
    
  </dl>
</td>

        </tfoot>
      </table>

      <section>
        <h2>Customer Contact Information</h2>
        <p>Here the user can insert there contact and billing info</p>
      </section>
      <section id="Name">
        <h3>Delivery Information</h3>
        <form>
          <p>
            <label for="fullname">Fullname</label><br>
            <input type="text" id="fullname" name="fn" required="required" placeholder="First- and last name"/>
          </p>
          <p>
            <label for="E-mail">E-mail</label><br>
            <input type="e-mail" id="e-mail" name="em" required="required" placeholder="E-mail">
          </p>
          <p>
            <label for="street">Street</label><br>
            <input type="text" id="street" name="st" required="required" placeholder="Street">
          </p>
          <p>
            <label for="house">House</label><br>
            <input type="number" id="house" name="h" required="required" placeholder="House">
          </p>
        </form>

      </section>
      

    </main>
    <footer>All rights reserved. Burgerland INC. </footer>
  </body>
</HTML>












