body {
    font-family: arial;
    font-size: 20pt;
    margin: 0 auto;
}

.allergies {
    
}

#gluten {
    
    font-weight: bold;
}

#lactose {

    font-weight: bold;
}

burgers {
   
}

#burger_info {
    color: white;
    background-color: black;
   
    
}

#contact {

}

button:hover {

    background-color: green;
    cursor:pointer;
    
}

.table {
    margin: 0 auto;
    width: 75%;
}
