body {
    font-family: arial;
    font-size: 20pt;
    margin: 0 auto;
    padding: 5px;
    margin: 5px 10px;
    
}

.allergies {
    
}

#gluten {
    
    font-weight: bold;
}

#lactose {

    font-weight: bold;
}

.header {
    margin: 10px;
    float: absolute;
    overflow: hidden;
    height: 600px;
    
}

#header_img {
    opacity: 0.5;
    width: 100%;
    height: auto;
    max-height: 750px;
    
}
.burgers {
    
}


#burger_info {
    color: white;
    background-color: black;
    border: 5px dotted white;
    
}

#head_txt{
    position: absolute;
    padding: 75px;
}

#contact {
    border: 5px dotted black;
}

button:hover {

    background-color: green;
    cursor:pointer;

}

button {

    padding: 10px;
    margin: 10px;
}

.table {
    margin: 0 auto;
    width: 75%;
}

#hej{
     float: absolute;
}

.wrapper {

    display: grid;
    grid-gap: 100px;
    grid-template-columns: 500px 500px 500px;
    background-color: black;
    color: #fff;
    
    
}

.box {
     background-color: #444;
     color: #fff;
     border-radius: 5px;
     padding: 20px;
     font-size: 150%;

}

.mighty{
    grid-column: 1;
    grid-row: 1;
}

.original {

    grid-column: 2;
    grid-row: 1;
}

.chicken {
    grid-column: 3;
    grid-row: 1;
                     
}

.burgerA {
     grid-column: 1 ;
     grid-row: 2;
     
 }
.burgerB {
     grid-column: 2 ;
     grid-row: 2;
 }

.burgerC {
     grid-column: 3;
     grid-row: 2;
 }
