body {
    font-family: arial;
    font-size: 20pt;
}

allergies {
    font-weight: bold;
}

#gluten {
    
    font-weight: bold;
}

#lactose {

    font-weight: bold;
}

burgers {
   
}

#burger_info {
    color: white;
    background-color: black;
    
}

#contact {

    
}
